* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top__line {
  height: 44px;
  background-color: #000000;
}
.top__line .container {
  width: 1110px;
}
.top__line__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top__line__inner_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
}
.top__line__inner_1 p {
  color: #969696;
  font-size: 12px;
  line-height: 16px;
  margin: 14px 0 14px 15px;
  font-family: "PT Sans", sans-serif;
}
.top__line__inner_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top__line__inner_2 a {
  color: #969696;
  font-size: 12px;
  line-height: 16px;
  margin: 14px 0 14px 10px;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

.header {
  height: 80px;
  background-color: #0F0F0F;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__inner h1 {
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 16px;
}
.header__inner__btn button {
  width: 136px;
  height: 80px;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  background-color: #0F0F0F;
  border: none;
  color: #969696;
}
.header__inner__btn button:hover {
  background-color: #1f1f1f;
}
.header__inner__btn img {
  margin-right: 40px;
}
.header__inner__btn img:hover {
  background-color: #1f1f1f;
}

.main {
  background: url("../images/main/Rectangle 3.jpg") no-repeat top center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.main__inner {
  margin: 0 auto;
}
.main__inner h1 {
  padding-top: 253px;
  color: #ffffff;
  font-size: 64px;
  line-height: 96px;
}
.main__inner .border-in {
  border: 2px solid #ffffff;
  width: 179px;
  margin-top: 4px;
  margin-bottom: 7px;
}
.main__inner p {
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
}
.main__out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 730px;
  height: 96px;
  padding-top: 174px;
  padding-bottom: 154px;
}
.main__out p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
}

.season {
  height: 730px;
}
.season__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 900px;
  background-color: #000000;
  float: left;
  padding-top: 93px;
}
.season__inner h2 {
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
}
.season__inner__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px 50px;
}
.season__inner__box .box__img {
  background: #191B1C;
  width: 260px;
  height: 325px;
  padding: 55px 22px;
}
.season__inner__box .box__text {
  font-family: "Playfair Display", serif;
}
.season__inner__box .box__text h3 {
  font-size: 18px;
  line-height: 21px;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #ffffff;
}
.season__inner__box .box__text p {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.season__coll {
  background: url("../images/season/Rectangle 8.png") no-repeat;
  background-size: cover;
  width: 619px;
  height: 735px;
  float: right;
}
.season__coll__inner {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-top: 484px;
}
.season__coll__inner h2 {
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}
.season__coll__inner .border {
  width: 120px;
  border: 1px solid #ffffff;
  margin: 30px auto;
}
.season__coll__inner button {
  border: 1px solid #ffffff;
  background: transparent;
  float: left;
  width: 138px;
  height: 47px;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
}

.collection {
  height: 600px;
}
.collection__left {
  background: url("../images/collection/men.png");
  float: left;
  height: 600px;
  width: 689px;
}
.collection__right {
  background: #000000;
  height: 600px;
  float: right;
  width: 830px;
}
.collection__right__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.collection__right__inner h2 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 100px;
  font-family: "Playfair Display", serif;
}
.collection__right__inner p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  width: 471px;
  margin-bottom: 61px;
  font-family: "PT Sans", sans-serif;
}
.collection__right__inner .border {
  width: 120px;
  border: 1px solid #ffffff;
  margin: 40px auto;
}
.collection__right__inner button {
  border: 1px solid #ffffff;
  background: transparent;
  width: 311px;
  height: 47px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23px;
  padding: 12px 28px;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 100px;
}

.arrivals {
  background-color: #000000;
  padding-top: 120px;
  padding-bottom: 150px;
}
.arrivals .container {
  width: 1110px;
}
.arrivals h2 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.arrivals .border {
  width: 120px;
  border: 1px solid #ffffff;
}
.arrivals__inner__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.arrivals__inner__box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 121px 23px 40px 0;
}
.arrivals__inner__box .box__img {
  background: #191B1C;
  width: 260px;
  height: 325px;
  padding: 55px 22px;
}
.arrivals__inner__box .box__text {
  font-family: "Playfair Display", serif;
}
.arrivals__inner__box .box__text h3 {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 10px;
}
.arrivals__inner__box .box__text p {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.arrivals__inner__boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.arrivals__inner__boxs .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 121px 23px 40px 0;
}
.arrivals__inner__boxs .box__img {
  background: #191B1C;
  width: 260px;
  height: 325px;
  padding: 55px 22px;
}
.arrivals__inner__boxs .box__text {
  font-family: "Playfair Display", serif;
}
.arrivals__inner__boxs .box__text h3 {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 10px;
}
.arrivals__inner__boxs .box__text p {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0F0F0F;
  padding-top: 60px;
  padding-bottom: 80px;
}
.brands h2 {
  font-size: 36px;
  line-height: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-left: 440px;
}
.brands .border {
  width: 120px;
  border: 1px solid #ffffff;
  margin-bottom: 40px;
}
.brands__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.brands__inner img {
  margin-right: 40px;
}

.footer {
  background: url("../images/footer/footer-back.jpg") no-repeat;
  background-size: cover;
  height: 400px;
}
.footer .container {
  width: 1110px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
}
.footer__inner .about__us {
  margin-right: 21px;
}
.footer__inner .about__us h2 {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.footer__inner .about__us p {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  width: 350px;
}
.footer__inner .category h2 {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
.footer__inner .category__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  margin-top: 40px;
}
.footer__inner .category__btn .button_1 {
  width: 70px;
  height: 41px;
  background-color: #0F0F0F;
  color: #D0D0D0;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.footer__inner .category__btn .button_1:hover {
  background-color: #191B1C;
}
.footer__inner .category__btn .button_2 {
  width: 98px;
  height: 41px;
  background-color: #0F0F0F;
  color: #D0D0D0;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.footer__inner .category__btn .button_2:hover {
  background-color: #191B1C;
}
.footer__inner .category__btn .button_3 {
  width: 79px;
  height: 41px;
  background-color: #0F0F0F;
  color: #D0D0D0;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.footer__inner .category__btn .button_3:hover {
  background-color: #191B1C;
}
.footer__inner .category__butn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  margin-top: 20px;
}
.footer__inner .category__butn .button_4 {
  width: 176px;
  height: 41px;
  background-color: #0F0F0F;
  color: #D0D0D0;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.footer__inner .category__butn .button_4:hover {
  background-color: #191B1C;
}
.footer__inner .category__butn .button_5 {
  width: 91px;
  height: 41px;
  background-color: #0F0F0F;
  color: #D0D0D0;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner .category__butn .button_5:hover {
  background-color: #191B1C;
}
.footer__inner .mail {
  margin-left: 92px;
}
.footer__inner .mail h2 {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.footer__inner .mail p {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  width: 350px;
  margin-bottom: 37px;
}
.footer__inner .mail .mail__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  height: 42px;
}
.footer__inner .mail .mail__btn input {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  font-size: 15px;
  line-height: 20px;
  height: 42px;
  width: 210px;
  color: #FFFFFF;
  padding: 15px;
}
.footer__inner .mail .mail__btn button {
  border: none;
  background-color: #0F0f0f;
  padding: 10px 20px;
  width: 140px;
  height: 41px;
  font-size: 14px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.last__line {
  height: 50px;
  background-color: #000000;
}
.last__line .container {
  width: 1110px;
}
.last__line__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.last__line__inner p {
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
  margin: 17px 0;
  font-family: "PT Sans", sans-serif;
}
.last__line__inner a {
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
  margin: 17px 0;
  font-family: "PT Sans", sans-serif;
}