* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

html {
  font-family: "Montserrat", sans-serif;
}