<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bundle.css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <nav class="menu">
                    <ul class="menu__list">
                        <li><a href="" class="menu-link">Главная</a></li>
                        <li><a href="" class="menu-link">Наши проекты</a></li>
                        <li><a href="" class="menu-link">Услуги</a></li>
                        <li><a href="" class="menu-link">Новости</a></li>
                        <li><a href="" class="menu-link">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__border"></div>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="main__inner">
                <span class="text">Передовая IT студия</span>
                <h1 class="title">Мы создаем легкие решения сложных задач и проблем</h1>
                <button class="button">Наши проекты</button>
            </div>
        </div>
    </div>
    <section class="services">
        <div class="container">
            <div class="services__inner">
                <div class="services__inner__title">
                    <h2 class="title">Мы создаем мобильные приложения для крупных корпораций</h2>
                    <p class="text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                </div>
                <div class="services__inner__item">
                    <div class="first">
                        <h3 class="title">Создание сайтов</h3>
                        <p class="text">Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.</p>
                    </div>
                    <div class="first">

                         <h3 class="title">Создание сайтов</h3>
                        <p class="text">Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.</p>
                    </div>
                    <div class="first">

                         <h3 class="title">Создание сайтов</h3>
                        <p class="text">Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.</p>
                    </div>
                </div>
                <div class="services__inner__button">
                    <button class="button">Все услуги</button>
                </div>
            </div>
        </div>
    </section>
    <section class="standards">
        <div class="container">
            <div class="standards__inner">
                <div class="standards__inner__item">
                    <h2 class="title">Высокие стандарты разработки</h2>
                    <p class="text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
                    <a href="#">Подробнее о компании</a>
                </div>
                <div class="standards__inner__img">
                    <img src="images/standards/Rectangle%202.png" alt="">
                </div>
            </div>
            <div class="standards__border"></div>
            <div class="standards__out">
                <div class="standards__out__project">
                    <ul>
                        <li>
                            <div class="standards__out__icon">
                                <img src="images/standards/standards-icon.svg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="standards__out__title">
                                <h2 class="text">125</h2>
                            </div>
                        </li>
                    </ul>
                    <div class="standards__out__text">
                        <p class="text">Our project</p>
                    </div>
                </div>
                <div class="standards__out__project">
                    <ul>
                        <li>
                            <div class="standards__out__icon">
                                <img src="images/standards/standards-icon.svg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="standards__out__title">
                                <h2 class="text">125</h2>
                            </div>
                        </li>
                    </ul>
                    <div class="standards__out__text">
                        <p class="text">Our project</p>
                    </div>
                </div>
                <div class="standards__out__project">
                    <ul>
                        <li>
                            <div class="standards__out__icon">
                                <img src="images/standards/standards-icon.svg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="standards__out__title">
                                <h2 class="text">125</h2>
                            </div>
                        </li>
                    </ul>
                    <div class="standards__out__text">
                        <p class="text">Our project</p>
                    </div>
                </div>
                <div class="standards__out__project">
                    <ul>
                        <li>
                            <div class="standards__out__icon">
                                <img src="images/standards/standards-icon.svg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="standards__out__title">
                                <h2 class="text">125</h2>
                            </div>
                        </li>
                    </ul>
                    <div class="standards__out__text">
                        <p class="text">Our project</p>
                    </div>
                </div>
                <div class="standards__out__project">
                    <ul>
                        <li>
                            <div class="standards__out__icon">
                                <img src="images/standards/standards-icon.svg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="standards__out__title">
                                <h2 class="text">125</h2>
                            </div>
                        </li>
                    </ul>
                    <div class="standards__out__text">
                        <p class="text">Our project</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="our__works">
        <div class="container">

                <div class="our__works__title">
                    <h2 class="title">Наши работы, на которых мы специализируемся</h2>
                    <button class="button">Все услуги</button>
                </div>

            <div class="our__works__blocks">
                <div class="our__works__blocks__in">
                    <div class="our__works__blocks__img">
                        <img src="images/our-works/work-img.jpg" alt="">
                    </div>
                    <div class="our__works__blocks__in__text">
                        <h2 class="title">01. <b>Исследование и упаковка</b></h2>
                        <p class="text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                        <a href="" class="more">Подробнее</a>
                    </div>
                </div>
                <div class="our__works__blocks__in">
                    <div class="our__works__blocks__img">
                        <img src="images/our-works/work-img.jpg" alt="">
                    </div>
                    <div class="our__works__blocks__in__text">
                        <h2 class="title">01. <b>Исследование и упаковка</b></h2>
                        <p class="text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                        <a href="" class="more">Подробнее</a>
                    </div>
                </div>
                <div class="our__works__blocks__in">
                    <div class="our__works__blocks__img">
                        <img src="images/our-works/work-img.jpg" alt="">
                    </div>
                    <div class="our__works__blocks__in__text">
                        <h2 class="title">01. <b>Исследование и упаковка</b></h2>
                        <p class="text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                        <a href="" class="more">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="our__works__border"></div>
        </div>
    </section>
    <section class="our__project">
        <div class="container">
            <div class="our__project__title">
                <h2 class="title">Наши проекты</h2>
                <p class="text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. </p>
            </div>
            <div class="our__project__block">
                <img src="images/our-project/our-project-img.jpg" alt="">
                <img src="images/our-project/our-project-img.jpg" alt="">
                <img src="images/our-project/our-project-img.jpg" alt="">
                <img src="images/our-project/our-project-img.jpg" alt="">
            </div>
            <button class="button">Все проекты</button>
        </div>
    </section>
    <section class="video">
        <div class="container">
            <div class="video__title">
                    <h2 class="title">Видео о нашей работе</h2>
                    <p class="text">Просто посмотрите, как мы работаем</p>
            </div>
            <div class="container">
                <div class="video__on__img">
                    <div class="video__on__img__in">
                        <button class="button"><img src="images/video/play-button.svg" alt="">Смотреть видео</button>
                    </div>
                </div>
                <div class="border"></div>
            </div>
        </div>
    </section>
    <section class="subscribe">
        <div class="container">
            <div class="subscribe__inner">
                <h2 class="title">Подпишитесь на нашу рассылку</h2>
                <p class="text">Полезные статьи, акции, новости - получите все это сейчас!</p>
            </div>
            <div class="subscribe__input">
                <input type="email" placeholder="Ваш e-mail" >
                <button class="button">Подписаться</button>
            </div>
            <div class="text">
                <p class="text">Мы не шлем спам, и передаем никому ваши данные.</p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__inner__contact">
                    <h3 class="title">Контактная информация</h3>
                    <ul class="contact">
                        <li><a href=""><img src="images/footer/Group.svg" alt=""></a><span>test@test.ru</span></li>
                    </ul>
                    <ul class="contact">
                        <li><a href=""><img src="images/footer/envelope.svg" alt=""></a><span>+8 777 555 66 99</span></li>
                    </ul>
                    <ul class="contact">
                        <li><a href=""><img src="images/footer/placeholder.svg" alt=""></a><span>Москва, Бульвар Ленина 33</span></li>
                    </ul>
                </div>
                <div class="footer__inner__link">
                    <h3 class="title">Основные ссылки</h3>
                    <ul class="linkpoints">
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>Главная</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>Наши проекты</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>Наши услуги</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>Контакты</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__inner__project">
                    <h3 class="title">Наши проекты</h3>
                    <ul class="projects">
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>РосНано</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>Сколково</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>Проект “Восток”</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>ТЭЦ Калининграда</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__inner__social">
                    <h3 class="title">Наши проекты</h3>
                    <ul class="social">
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>РосНано</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>Сколково</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>Проект “Восток”</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="arrow"></span>
                                <p>ТЭЦ Калининграда</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__border"></div>
            <p class="foot">(с) 2019. Все права защищены.</p>
        </div>
    </footer>
</div>
</body>
</html>
